.city-form {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

form {
  display: inline;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-form-field {
    padding-left: 1rem;
    width: 100%;
  }
  mat-checkbox {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  button {
    padding-left: 1rem;
  }
}
