<label for="" [ngClass]="{ required: required }">{{ title }}</label>

<div style="position: relative" [attr.data-cy]="'select-' + name">
  <input
    type="text"
    class="form-control"
    [ngClass]="{ 'cursor-pointer': enabled }"
    [placeholder]="placeholder"
    [ngModel]="selectValue?.name"
    (keyup)="filterOptions($event.target.value)"
    (focus)="inputFocus = true"
    (blur)="onBlur($event.target)"
    [disabled]="!enabled"
  />
  <span class="icon" [ngClass]="{ 'text-black-50': !enabled }">
    <i class="fas fa-chevron-down"></i>
  </span>
</div>

<ul
  class="options d-none shadow"
  [ngClass]="{ 'd-block': (enabled && inputFocus) || mouseIn }"
  (mouseenter)="mouseIn = true"
  (mouseleave)="mouseIn = false"
>
  <li *ngIf="!filteredOptions?.length" class="text-muted">
    No hay coincidencias
  </li>
  <li
    *ngFor="let option of filteredOptions"
    class="option"
    (click)="optionClicked(option)"
    [attr.data-cy]="'select-option-' + name + '-' + option.name"
  >
    {{ option.name }}
  </li>
</ul>
